
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:100,200,300,regular,500,600,700,100italic,200italic,300italic,italic,500italic,600italic,700italic);
@import url(https://fonts.googleapis.com/css?family=DM+Sans:regular,italic,500,500italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Angkor:regular);

// Fuentes
$font-family1: 'Josefin Sans', sans-serif;
$font-family2: 'DM Sans', sans-serif;
$font-family3: 'Angkar', sans-serif;

// Colors
$color_primary: #482be7;
$color_alpha_100: #5845a5;
$color_alpha_200: #6f5dbb;
$color_gris_light: #8c8c8c;
$color_gris_dark: #636363;
$color_gris_extra_light: #bfbfbf;
$color_white: #fff;
$color_negro: #000;
$color-heading:rgba(30, 14, 98, 1);
$color-ping:rgba(233, 58, 125, 1);

$color_primary_transparent: rgba(72, 43, 231, 0.73);
$color-negro_transparent: rgba(0, 0, 0, 0.23);
$color_card_dradient1:rgba(47, 24, 147, 0);
$color_card_transparent:rgba(0, 0, 0, 0.5);

// font weight
$regular_font: 400;
$semibold_font: 600;